In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [4]:
import math as mt

In [5]:
mt.sqrt(25)

5.0

In [6]:
from numpy import random

In [7]:
import numpy as np

In [13]:
#uniform random numbers in [0,1]
dataOne = random.rand(5,5)
np.mean(dataOne)
dataOne

array([[0.71523612, 0.75190463, 0.03079634, 0.08896318, 0.6595688 ],
       [0.65648755, 0.9157647 , 0.11768854, 0.56120315, 0.88991593],
       [0.30270419, 0.78322526, 0.49629906, 0.48665969, 0.81871405],
       [0.22207936, 0.23179884, 0.57916618, 0.12233449, 0.79301933],
       [0.81911893, 0.51884664, 0.83417841, 0.19275815, 0.629139  ]])

In [16]:
print('I love data Science')

I love data Science

In [17]:
variableName =25

In [18]:
variableName1 ='I love data Science'

In [19]:
print(variableName1)

I love data Science

In [24]:
VarOne = 25

In [64]:
VarTwo =25.0

In [65]:
VarThree = VarOne + VarTwo

In [83]:
print(VarThree)

50.0

In [2]:
varone =str(25)

In [3]:
vartwo ='hello'

In [22]:
varthree = str(25)  + 'abc'

In [25]:
print(varthree)

25abc

In [14]:
listName = []

In [69]:
listone =[1,2,3,4]

In [71]:
print(listone[1:3])

[2, 3]

In [72]:
tel = {'jack': 4098, 'sape': 4139}

In [73]:
tel['jack']

4098

In [ ]:
#define a variable that represents a dictionary with 5 INT elements

In [74]:
kel = {'one': 1, 'two': 2, 'three' :3, 'four':4, 'five' :5}

In [92]:
def TestValue(Value):
    if Value == 5: 
        print('Value equals 2!')
    elif Value == 4:
            print('Value equals 4!')
    else:
        print('Value is something else.')
        print('it equals' + str(Value))

In [70]:
def secretnumber():
    one =int(input("Type a number between 1 and 10: "))
    Two = int(input("Type a number between 1 and 10: "))
    
    if (one >= 1) and (one <= 10):
        if (Two >= 1) and (Two <= 10):
            print('Your secret number is: ' + str(one * Two))
        else:
             print("Incorrect second value!")
    else:
         print("Incorrect first value!")

In [72]:
secretnumber()

Type a number between 1 and 10: 2
Type a number between 1 and 10: 3
Your secret number is: 6

In [94]:
MyTuple = (1, 2, 3, (4, 5, 6, (7, 8, 9)))

In [102]:
for value1 in MyTuple:
    if type(value1) == int:
        print (value1)
    else: 
        for value2 in value1:
            if type(value2) == int:
                print "\t", (value2)
            else:
                for value3 in value2:
                    print "\t\t", (value3)

SyntaxError: invalid syntax (<ipython-input-102-e2b3aeb72f6f>, line 7)